{% extends "posts/base.html" %}

{% block content %}
<div class='row'>
	<div>
		<p>Create a paragraph by adding a blank line after the current line</p>
	</div>
	<div class="editor-section col-md-12">
		<div class="editor col-md-6 editor-panel">
			<textarea class="markdown" rows="1" cols="40" oninput="onInput(this)">Adding one blank line starts a new paragraph.

Adding more than one blank lines



does not create more space between paragraphs.</textarea>
		</div>
		<div class="col-md-6 editor-panel">
			<div class="parsed-markdown">
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div>
		<div>
			<p>Headers are made by adding a '#' before the text. More '#' make smaller headers.</p>
		</div>
		<div class="editor-section col-md-12 ">
			<div class="col-md-6 editor-panel">
				<textarea class="markdown" rows="1" cols="40" oninput="onInput(this)">#There
##are
###six
####sizes
#####of
######headers
##########It doesn't get smaller than this</textarea>
			</div>
			<div class="col-md-6 editor-panel">
				<div class="parsed-markdown">
				</div>
			</div>
		</div>
	</div>
</div>

<!--
<div id='editor-tray'>
	<div id='editor-toggler'>
		<div class="toggle-text">Try it!</div>
		<div class="open-icon toggle-icon">
			<div class="open-arrow"></div>
			<div class="open-arrow"></div>
		</div>

		<div class="close-icon toggle-icon">
			<div class="close-arrow"></div>
			<div class="close-arrow"></div>
		</div>
	</div> 
	<div id='editor'>
		<div class='col-md-6 '>
			<textarea id="input" rows="1" cols="40" oninput="onInput(this.value)"></textarea>
		</div>
		<div id="markeddown" class='col-md-6 markeddown'>
		</div>
	</div>
</div> -->
{% endblock %}