h1, h2, h3, h4, h5, h6
{
	margin: 0;
}

.post
{
	margin: 0 0 3em 0;
}

.post-title
{
	margin: 0 0 .2em 0;
	font-size: 2em;
}

.post-pub-date
{
	font-size: 1em;
	font-weight: bold;
	color: #757575;
}

.post-content
{
	font-size: 1em;
}

.post-header
{
	margin: 0 0 1em 0;
}